spring:
  application:
    name: project-service
  jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      show-sql: false
      hibernate:
        #ddl-auto: validate # production
        ddl-auto: update   # develop
    datasource:
      platform: postgres
      driver-class-name:
      #initialization-mode: always
      url: "jdbc:postgresql://localhost:5432/fscl_projects"
      username: fsclusr
      password: <pick one>    
  cloud:
    stream:
      bindings:
        output:
          group: projects2components1, projects2functions1
          destination:  projects
          content-type: application/json
        binder:
          zkNodes: localhost
          brokers: localhost
