spring:
  application:
    name: project-service
  data:
    mongodb:
      uri: mongodb://<user-name>:<password>@<server:27017/fscl-projects        
  cloud:
    stream:
      bindings:
        output:
          group: projects2components1, projects2functions1
          destination:  projects
          content-type: application/json
        binder:
          zkNodes: localhost
          brokers: localhost
